@model IEnumerable<FlightManagement.Domain.Entities.Flight>

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-top:30px">
    <div class="col-12">
        <a asp-action="Create" class="btn btn-primary btn-sm">New Flight</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Airplane</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.From.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.To.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Airplane.Name)</td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

