@model FlightManagement.Web.ModelViews.AirportViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="col-md-3 mb-3">
        <label>Name :</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="ex. Aéroport de Casablanca Mohammed V">
    </div>
    <div class="col-md-3 mb-3">
        <label>Longitude :</label>
        <input asp-for="Longitude" type="text" class="form-control" placeholder="ex. 33.5731104">
    </div>
    <div class="col-md-3 mb-3">
        <label>Latitude :</label>
        <input asp-for="Latitude" type="text" class="form-control" placeholder="ex. -7.5898434">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
